{% load static %}

<body>
    {% include 'head.html' %}
    <!-- {% block content %} -->
    <!-- <div class="breadcrumb">您的位置： <a itemprop="breadcrumb" href="{% url 'home' %}">首页</a> » <a
            href="{% url 'home' %}list-{{ show.category.id }}.html">{{ show.category.name }}</a> »
        <span class="current">正文</span>
    </div> -->

    <div class="row">
        <div class="col-md-3" id="tag-body">
            <p class="tag">
                <i class="fa fa-caret-right"></i>

                {{ tag.tagcontext }}
            </p>
            <div>
                <!-- <hr> -->
                {% for i in passages %}
                {% if i.pid == passage.pid %}

                <p class="passage-lists">
                    <a id="pass-list" href="/article/?pid={{i.pid}}"><b>
                            <i class="fa fa-caret-right"></i><i class="fa fa-caret-right"></i>
                            {{i.title}}</b></a>
                </p>


                {% else %}
                <p class="passage-lists"><a id="pass-list" href="/article/?pid={{i.pid}}">
                        <i class="fa fa-caret-right"></i><i class="fa fa-caret-right"></i>
                        {{i.title}}</a></p>
                {% endif %}
                {% endfor %}
                <!-- <hr> -->
                <br>

            </div>

        </div>
        <div class="col-md-8" id="article-body">
            <h1 class="post-title">{{ passage.title }}</h1>
            <p class="info" style="margin:0 ;text-align: center;">

                <!-- <span id="article-tag"><i class="fa fa-tags"></i>&nbsp;{{ passage.tag }}</span> -->
                <!-- &nbsp; -->
                <i class="fa fa-eye"></i>&nbsp;Views: {{ passage.viewcount }}
                &nbsp;
                <i class="fa fa-clock-o"></i>&nbsp;Created time: {{ passage.create_timestamp }}
            </p>
            <hr>
            <p class="article-content">
                {{ html|safe }}
            </p>

        </div>
        <div class="col-md-1" id="tag-body">

            <a onclick="byScrollTop()" id="backtop">
                <div><img src="https://xxrblog.oss-cn-nanjing.aliyuncs.com/%E5%9B%9E%E9%A1%B6%E9%83%A8.png"
                        style="max-width:30%; height:auto;" class="img-responsive" alt="tothetop"></div>
            </a>
        </div>
    </div>
    <!-- {% endblock %} -->



</body>

<script type=" text/javascript" src="{% static 'js/web.js' %}"></script>

</html>