<!-- <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <hr>
        <footer style="text-align: center; color:#626775;font-size:large; margin:2%;">
            <i class="fa fa-github" aria-hidden="true"></i> Blossom's blog
        </footer>
    </div>
    <div class="col-md-2"></div>
</div> -->

<div>
    <!-- <hr> -->
    <br>
    <br>
    <footer style="text-align: center; color:#6267759f;font-size:large; ">
        <a><i class="fa fa-github" aria-hidden="true" style="font-size: xx-large;"></i></a></i> <br> Blossom's blog
        <!-- <br> -->
    </footer>
</div>