<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>blossomblog.cn ———— Blossom的博客</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="博客, blog">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    <link rel="shortcut icon" href="{% static 'image/blossom.ico' %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

</head>

<body>
    <div id="home-head">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4" style="text-align:center">
                        <br>
                        <br>
                        <img src="/static/image/myheadfang.png" style=" border-radius:50%;box-shadow: 10px 10px 10px rgba(0, 0,
                            0, .5);" height="150px">
                        <br>
                        <br>
                        <h1 id="title">牧 鱼 地</h1>
                    </div>
                    <div class="col-md-4"></div>
                </div>

                <nav class="navbar navbar-expand-md">
                    <a class="navbar-brand" href="#">
                        <img id="logo" src="/static/image/月亮.ico" class="img-responsive" alt="logo" style="width:20%">
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapsibleNavbar">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="collapsibleNavbar">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link active" href="/">家</a>
                            </li>
                            <!-- <li class="nav-item">
                                <a class="nav-link" href="/ground">原野</a>
                            </li> -->

                            <!-- <li class="nav-item dropdown">
                                <a class="nav-link nav-font" href="/tree">山</a>
                            </li> -->

                        </ul>
                    </div>
                </nav>
            </div>

            <div class="col-md-2"></div>
        </div>
    </div>


    {% for i in passages %}
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="card">
                <a href="
                /articles/{{ i.pid }}">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-2">
                                <img src="/media/{{ i.surface_img}}" style="max-width:100%; height:auto;"
                                    class="img-responsive" alt="lgc">
                            </div>
                            <div class="col-md-10">
                                <h5 class="card-title">{{ i.title }}</h5>
                                <p class="card-text">{{ i.describtion }}</p>
                                <p class="info" style="margin:0 ;">

                                    <span id="article-tag"><i class="fa fa-tags"></i>&nbsp;{{ i.tag }}</span>
                                    &nbsp;
                                    <i class="fa fa-eye"></i>&nbsp;{{ i.viewcount }}
                                    &nbsp;
                                    <i class="fa fa-clock-o"></i>&nbsp;{{ i.create_timestamp }}
                                </p>
                            </div>
                        </div>

                    </div>
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</body>

</html>