body {
    /* padding: 0; */
    /* background-color: #cfcfcf; */
    /* background-image: url('https://predlncrna.oss-cn-shanghai.aliyuncs.com/45degreee_fabric.png'); */
    /* background-color: #ded1bf0c; */
    height: 100%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#try {
    display: flex;
    position: absolute;
    height: 75%;
    width: 100%;
    background-color: rgba(234, 220, 191, 0.491);
}

.passages {
    margin: 2%;
    border: 3px solid;
    border-color: #c78b67;
    width: 100%;
    height: 90%;
    /* background-color: plum; */
    overflow: auto;
}

.passages::-webkit-scrollbar {
    width: 20px;
    height: 20px;
    background-color: #ffffff;
}

.passages::-webkit-scrollbar-thumb {
    width: 10px;
    border-radius: 5px;
    background-color: rgba(112, 112, 112, 0.445);
}

.passages::-webkit-scrollbar-track {
    background-color: rgb(255, 255, 255);
}

.passages::-webkit-scrollbar-button {
    background-color: rgb(62, 62, 62);
}

.passages::-webkit-scrollbar-thumb:hover {
    background-color: rgba(124, 124, 124, 0.632);
}

.btn {
    border-radius: 6px;
    /* background-color: ; */
    font-size: larger;
    border-color: #c78b67;
    border-width: 3px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

.linktext:hover {
    text-decoration: none;
}

.btn:hover {
    background-color: #c78c675c;
}

#home-page {
    position: absolute;
    width: 100%;
    height: 100%;
    /* background-image: url('https://xxrblog.oss-cn-nanjing.aliyuncs.com/Snipaste_2023-01-16_15-07-25.jpg'); */
    background-color: rgba(234, 220, 191, 0.491);
}

#home-head {
    /* background-image: url('https://xxrblog.oss-cn-nanjing.aliyuncs.com/Snipaste_2023-01-16_15-07-25.jpg'); */
    background-color: rgba(234, 220, 191, 0.491);
    /* background-size: 100% 100%; */
}

p::selection {
    background-color: #cce5f3;
}

.tag {
    padding: 5%;
    color: #6c6a66;
}

#tag-body {
    background-color: rgb(247, 246, 243);
    /* border: solid rgba(166, 119, 58, 0.383); */
    /* border-width: 2px 2px 2px 0; */
}

#article-tag {
    color: #d28860;
}

#taglist {
    background-color: rgba(234, 220, 191, 0.116);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* font-weight: bolder; */

}

#tagbox {
    padding: 2% 0;

}

#backtop {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    /* background-color: #fff; */
    z-index: 9;
    cursor: pointer;

}

.norm-head {
    background-image: url('https://xxrblog.oss-cn-nanjing.aliyuncs.com/bizhi3.jpg')
}

#title {
    color: #f0e4d3;
    font: arial;
    /* font-family: ; */
}

#article-body {
    padding: 2% 5%;
}

.nav-link {
    color: #d28860;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
    font-weight: bold;


}

.nav-item {
    margin: 0 20px 0 20px;
}

.card {
    border-style: none;

}

a,
.card-title,
.card-text {
    text-decoration: none;
    color: black;


}

.card-title {
    font-weight: bold;
}

.nav-link:hover {
    color: #453227;

    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
}

.card-body:hover {
    background-color: rgba(247, 246, 243);
    transition: all 0.3s;
}

.info {
    color: rgba(98, 98, 98, 0.765);
}

.passage-lists {
    margin: 2%;
    color: #c78b67;
    line-height: 1.2;
}